/* Kartların genel stilini ayarlar */
.my-frame {
  border: 1px solid #ccc; /* Çerçeve rengi */
  margin: 20px auto; /* Ortalama boşluk */
  max-width: 90%; /* Maksimum genişlik */
  padding: 20px; /* İç boşluk */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

.card-header, .card-footer {
  padding: 0.5rem 1rem; /* Ayarlanabilir iç boşluk */
}

.card-body {
  padding: 1rem; /* Ayarlanabilir iç boşluk */
}

/* Kartın üzerine gelindiğinde gölgenin artmasını sağlar */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Kart başlıklarının stilini ayarlar */
.card-header {
  background-color: #f8f9fa; /* Başlık arka plan rengini ayarlar */
  color: #343a40; /* Başlık yazı rengini ayarlar */
  border-bottom: 1px solid #dee2e6; /* Alt çizgi ekler */
}

/* Kart metni için stil */
.card-text {
  max-width: 100%; /* Maksimum genişliği sınırlar */
  word-wrap: break-word; /* Kelimelerin kırılmasını engeller */
}

/* Kart metni içindeki listeler için stil */
.card-text ul {
  list-style-type: disc; /* Listelerin simgesini ayarlar */
  padding-left: 20px; /* Listelerin sol kenar boşluğunu ayarlar */
}

/* Kart metni içindeki listelerin öğeleri için stil */
.card-text li {
  margin-bottom: 10px; /* Listelerin alt kenar boşluğunu ayarlar */
}

/* Mobil uyumlu düzen */
@media (max-width: 768px) {
  .my-frame {
    margin: 10px auto; /* Daha küçük bir boşluk */
    padding: 10px; /* Daha küçük bir iç boşluk */
  }
}
