/* Genel stiller */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Ana içerik bölümü */
main {
  width: 100%;
  padding: 20px; /* Kenar boşluğu ekleyelim */
}

/* Hakkında bölümü */
.About {
  padding-top: 5%;
}

/* İçerik 1 */
.Content-1 {
  position: relative;
  width: 100%;
}

/* İçerik 1 resim */
.Content-1-img {
  width: 100%;
  overflow: hidden;
}

/* İçerik başlığı */
.Content-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}

/* İçerik alt başlık */
.Content-subject {
  color: #fff;
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.Content-subject p {
  color: #fff;
  text-align: left;
}

/* Yazılar arası boşluk */
.Content-subject-1,
.Content-subject-2,
.Content-subject-3,
.Content-subject-4,
.Content-subject-5 {
  margin-bottom: 10px;
}

.Content-video{
  width: auto;
  height: auto;
}

.Content-video .Content-video-title{
  font-size: 25px;
  font-weight: bold;
}

.Content-video .video{
  height: '390';
  width: '640';
}

/* Ekran boyutlarına göre stillendirme */
@media screen and (min-width: 768px) {
  .Content-subject {
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 767px) {
  .Content-subject {
    width: 100%;
    bottom: 0;
    top: auto;
    transform: none;
  }
}

/* Mobil uyumlu stiller */
@media (max-width:  768px) {
  .Content-video {
    width:  100%; /* Mobil cihazlarda video bölümünün genişliğini tam genişlikte göster */
    height: auto; /* Yüksekliği otomatik olarak ayarla */
  }

  .Content-video .Content-video-title {
    font-size:  18px; /* Başlık boyutunu küçült */
  }

  .Content-video .video {
    height: auto; /* Yüksekliği otomatik olarak ayarla */
    width:  100%; /* Genişliği tam genişlikte göster */
  }
}

