.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .div-image {
    text-align: center;
  }
  
  .div-image img {
    margin-top: 10%;
    height: auto;
    width: 50%;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  
  p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  /* Mobil Uyumlu Stiller */
  @media only screen and (max-width: 600px) {
    .div-image img {
      max-width: 30%; /* Resmin genişliğini %70'e düşürdük */
    }
  
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  }
  