/* Genel stiller */
* {
  box-sizing: border-box;
}

body {
  margin:  0;
}

/* Ana içerik bölümü */
main {
  width:  100%;
  padding:  20px; /* Kenar boşluğu ekleyelim */
}

.ConAll{
  width:  100%;
  height:  100%;
}

.Con-Body {
  display: flex;
  justify-content: center; /* resmi yatayda ortala */
  align-items: center; /* resmi dikeyde ortala */
}

.Con-Body-Text {
  text-align: center;
  width:  50%;
}

.Con-BodyImg {
  width:  50%;
}

.Con-Body-img {
  width:  70%;
}



/* Mobil uyumlu stiller */
@media (max-width:  768px) {
.Con-Body-Text, .Con-BodyImg {
  width:  100%; /* Mobil cihazlarda metin ve resim bölümlerini yatayda tam genişlikte göster */
}

.Con-Body-img {
  width:  100%; /* Mobil cihazlarda resim genişliğini tam genişlikte göster */
}

}
