.modal {
    position: fixed;
    top:  0;
    left:  0;
    width:  100%;
    height:  100%;
    background-color: rgba(0,  0,  0,  0.8); /* Arka planın opaklığını ayarlayın */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:  1000; /* Z-index değerini yüksek bir değere ayarlayın */
  }
  
  .modal-content {
    position: relative;
    background-color: transparent; /* Arka planını saydam yapın */
    padding:  0; /* Padding'i  0 yapın */
    max-width:  100%;
    max-height:  100%;
    overflow: auto;
  }
  
  .modal-content img {
    max-width:  100%;
    max-height:  100%;
    object-fit: contain; /* Resmin boyutunu sığdırmak için kullanın */
    cursor: pointer;
  }
  